@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinner styles */
.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #003566; /* Outer border */
    border-top: 8px solid #ffd60a; /* Top border to create the spinner effect */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Animation to rotate the spinner */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  